<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
      .main{
          padding: 20px;
      }
  </style>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Tugas Lab PBP</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light table-bordered">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/lab-4">Friend List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="add-note">Add Friend</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="note-list">Friend's Card</a>
              </li>
              
            </ul>

          </div>
        </div>
        
      </nav>
      <div class="main">
      <form action="" method="POST"> {% csrf_token %}
        <div class="mb-3">
          <label for="to" class="form-label">🤎 ~ To :</label>
          <input type="text" name="to" class="form-control" id="to" placeholder="Ketik orang yang dituju disini . .">
        </div>

        <div class="mb-3">
            <label for="from" class="form-label">🤎 ~ From :</label>
            <input type="text" name="from_user" class="form-control" id="from_user" placeholder="Ketik nama disini . ." >
            <div id="userHelp" class="form-text">We'll never share your identity with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">🤎 ~ Title :</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Ketik judul disini . ." >
        </div>

        <div class="mb-3">
            <label for="message" class="form-label">🤎 ~ Message :</label>
            <input type="text" name="message" class="form-control" id="message" placeholder="Ketik pesan disini . .">
          </div>

        <button type="submit" value="Submit" class="btn btn-dark btn-outline-warning">Submit</button>
      </form>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>