<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .main{
            display: flex;
            flex-direction: row;
            padding: 20px;
            flex-wrap: wrap;
        }
        .wrapper{
            padding: 20px;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Tugas Lab PBP</title>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light table-bordered">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/lab-4">Friend List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="add-note">Add Friend</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="note-list">Friend's Card</a>
              </li>
              
            </ul>
          </div>
        </div>
        
      </nav>

      
        <div class="main">
        {% for i in data %}
        <div class="wrapper">
        <div class="card text-dark bg-light border-dark" style="width: 18rem;">
            <img src="https://www.propertinews.id/content.images/content/1/4065/750/0/500" alt="Image Not Found">
            <div class="row3">
                <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <ul class="list-group list-group-flush">
                    From : <li class="list-group-item">{{i.from_user}}</li>
                    To : <li class="list-group-item">{{i.to}}</li>
                </ul>
                Message : <p class="card-text">{{i.message}}</p>
              
              
            </div>
            </div>
                    </div>
        </div>
            {% endfor %}
        </div>

        
   



    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    
  </body>
</html>