<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 3 - PBP</title>
</head>
<body>
  <form action="" method="POST"> {% csrf_token %}
    Name: <p> <input type="text" name="name" maxlength="30" id="id_name"> </p>
    NPM: <p> <input type="text" name="NPM" maxlength="30" id="id_npm"> </p>
    Tanggal Lahir: <p> <input type="date" name="DOB" id="id_birth_date"> </p>
    <input type="submit" value="Submit">
</form>
</body>
</html>