<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model - done --> 
      {% for i in data %}
      <tr>
        <td>{{ i.to }}</td>
        <td>{{ i.from }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.message }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>